In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data = pd.read_csv('../uts/driving.csv')
data.describe()

             AGE     GENDER    CHO2DRI     PUBTRAN    ACCIDENT
count  61.000000  61.000000  61.000000   61.000000   61.000000
mean   26.967213   1.344262   3.426230   18.147541   50.540984
std     8.140367   0.479070   1.359645   31.328813   25.673965
min    19.000000   1.000000   1.000000    0.000000    0.000000
25%    22.000000   1.000000   3.000000    0.000000   30.000000
50%    24.000000   1.000000   4.000000    0.000000   50.000000
75%    30.000000   2.000000   5.000000   25.000000   75.000000
max    57.000000   2.000000   5.000000  100.000000  100.000000

In [2]:
print(round(data.ACCIDENT.mean()))

51